In [1]:
#the purpose of this notebook is to split ../../gen_data/train2.csv into training set(s), targets , 
#validation set(s), validation targets.

#inputs: ../../gen_data/train2.csv
#outputs:
            #python list of training set(s)
            #python list of targets
            #python list of validation set(s) identical in format to ../../original_data/test.csv.gz

In [2]:
import numpy as np
import pandas as pd
import pickle

In [3]:
train2 = pd.read_csv('../../gen_data/train2.csv')
train2.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,6
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray,3
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD,1
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD,1
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3,2

In [4]:
#as a reference, get test
test = pd.read_csv('../../original_data/test.csv.gz')
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [5]:
training_bool = train2['date_block_num']<33
y_train_to_32 = train2['item_cnt_month'][training_bool]
x_train_to_32 = train2.drop('item_cnt_month',axis=1)[training_bool]

In [6]:
validation_bool = train2['date_block_num']==33
validation_33 = train2[validation_bool].merge(test,'right',on=['item_id','shop_id'])

In [7]:
validation_33.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month,ID
0,33.0,2,31,37.0,"Адыгея ТЦ ""Мега""",007: КООРДИНАТЫ «СКАЙФОЛЛ» (BD),Кино - Blu-Ray,1.0,20994
1,33.0,2,486,73.0,"Адыгея ТЦ ""Мега""",1С:Бухгалтерия 8. Учебная версия. Издание 8.,Программы - 1С:Предприятие 8,3.0,21001
2,33.0,2,787,49.0,"Адыгея ТЦ ""Мега""",1С:Предпр.8. Управление торг.операциями в вопр...,Книги - Методические материалы 1С,1.0,20986
3,33.0,2,794,73.0,"Адыгея ТЦ ""Мега""",1С:Предприниматель 2015,Программы - 1С:Предприятие 8,1.0,22120
4,33.0,2,968,40.0,"Адыгея ТЦ ""Мега""",3 ДНЯ НА УБИЙСТВО,Кино - DVD,1.0,22459

In [8]:
#dropped this, x_valid_33 is the same as test, only need y_valid_33

#need to drop columns to make it like test.csv in original_data
#validation_33.drop(['date_block_num','item_category_id','shop_name','item_name','item_category_name'],axis=1,inplace=True)
#validation_33.head()

In [9]:
#dropped this, x_valid_33 is the same as test, only need y_valid_33

#x_valid_33 = validation_33[['ID','shop_id','item_id']]
y_valid_33 = validation_33['item_cnt_month']
#x_valid_33.head()

In [10]:
#now prep train test data
y_train_to_33 = train2['item_cnt_month']
x_train_to_33 = train2.drop('item_cnt_month',axis=1)

In [11]:
#dropped this, x_valid_33 is the same as test, only need y_valid_33

#x_valid_33 = x_valid_33.sort_values('ID')

In [12]:
y_test_nans = pd.Series(np.full(test.shape[0],np.nan))

In [13]:
#save items as a list so that I can add more validation schemes later
pickle.dump([x_train_to_32,x_train_to_33],open('../../gen_data/x_train--simple_validation_split.ipynb--.pickle','wb'))
pickle.dump([y_train_to_32,y_train_to_33],open('../../gen_data/y_train--simple_validation_split.ipynb--.pickle','wb'))
pickle.dump([test,test],open('../../gen_data/x_val--simple_validation_split.ipynb--.pickle','wb'))
pickle.dump([y_valid_33,y_test_nans],open('../../gen_data/y_val--simple_validation_split.ipynb--.pickle','wb'))