In [1]:
import pandas as pd
import pickle
import numpy as np
import re
import gc
from sklearn import preprocessing

In [2]:
df = pd.read_csv('../gen_data/train2.csv')
#train0 = pd.read_csv('../original_data/sales_train.csv.gz')
#df = pd.read_csv('../gen_data/train1.csv')

x_train_list = pickle.load(open('../gen_data/x_train--features3.ipynb--.pickle','rb'))
x_test_list = pickle.load(open('../gen_data/x_test--features3.ipynb--.pickle','rb'))

# BUILD A DF RELATING ITEM CAT ID AND SHOP ID TO PARSED VARS THEN MERGE

# maybe drop duplicates before all this

In [3]:
df = df.drop_duplicates()

In [4]:
#Parse City data
cities_encoder = preprocessing.LabelEncoder()
cities_series = pd.Series([re.search('(.*?) ',n).group() for n in df.shop_name],index=df.index)
cities_encoder.fit(cities_series)
df['city'] = cities_encoder.transform(cities_series)
del cities_series

In [5]:
#Parse item category data
item_type_encoder = preprocessing.LabelEncoder()
item_type_series = df.item_category_name.map(lambda x: re.split('-',x)[0])
item_type_encoder.fit(item_type_series)
df['item_type'] = item_type_encoder.transform(item_type_series)
del item_type_series

In [6]:
#parse mor item_category data
item_info_encoder = preprocessing.LabelEncoder()
item_info_series = df.item_category_name.map(lambda x: '-'.join(re.split('-',x)[1:]) if len(re.split('-',x))>1 else 'NAN')
item_info_encoder.fit(item_info_series)
df['item_info'] = item_info_encoder.transform(item_info_series)
del item_info_series

In [7]:
df = df[['shop_id','item_id','item_category_id','city','item_type','item_info']]

In [8]:
#function to downcast data types to 32 bits
def downcast(df):
    float_cols = [col for col in df if df[col].dtype=='float64']
    int_cols = [col for col in df if df[col].dtype=='int64']

    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int32)
    
    return(df)

In [9]:
df = downcast(df)
gc.collect()

7

# exp begin

In [10]:
x_train_exp = x_train_list[0][(x_train_list[0].date_block_num.isin([30,31])) & (x_train_list[0].shop_id==2) & (x_train_list[0].item_id==33)]

In [11]:
x_train_exp

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,sum_shop_sales_back_12,item_cnt_month_back_12,sum_item_cat_sales_back_12,sum_item_cat_shop_sales_back_12,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market
5524842,30,2,33,37.0,0.0,0.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,jul,31,199.0,0.000000,NaN,0.000000
5754486,31,2,33,0.0,15.0,763.0,1.0,3291.0,29.0,0.0,...,0.0,0.0,0.0,0.0,aug,31,194.6,17.041127,199.0,0.258199

In [12]:
df = df.drop_duplicates()

In [13]:
df.shape

(424124, 6)

In [14]:
x_train_exp.merge(df,on=['item_id','item_category_id','shop_id'],how='left')

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,sum_item_cat_shop_sales_back_12,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,city,item_type,item_info
0,30,2,33,37.0,0.0,0.0,0.0,0.0,0.0,12.0,...,0.0,jul,31,199.0,0.000000,NaN,0.000000,1.0,11.0,1.0
1,31,2,33,0.0,15.0,763.0,1.0,3291.0,29.0,0.0,...,0.0,aug,31,194.6,17.041127,199.0,0.258199,NaN,NaN,NaN

# exp end

In [15]:
x_train_list[0].shape

(6186922, 70)

In [16]:
x_train_list = list(map(lambda x: x.merge(df,on=['item_id','item_category_id','shop_id'],how='left'),x_train_list))
x_test_list = list(map(lambda x: x.merge(df,on=['item_id','item_category_id','shop_id'],how='left'),x_test_list))

In [17]:
x_train_list[0].shape

(6186922, 73)

In [18]:
pickle.dump(x_train_list,open('../gen_data/x_train--strings.ipynb--.pickle','wb'))
pickle.dump(x_test_list,open('../gen_data/x_test--strings.ipynb--.pickle','wb'))

In [19]:
x_train_list[0]

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,sum_item_cat_shop_sales_back_12,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,city,item_type,item_info
0,12,2,32,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,jan,31,134.691573,15.602202,NaN,0.000000,1.0,11.0,6.0
1,12,2,33,37.0,42.0,1255.0,1.0,9906.0,55.0,15.0,...,52.0,jan,31,186.571429,16.449056,199.000,0.755580,1.0,11.0,1.0
2,12,2,99,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,jan,31,124.167083,25.367019,NaN,0.000000,1.0,11.0,1.0
3,12,2,482,73.0,88.0,1255.0,1.0,412.0,3.0,85.0,...,7.0,jan,31,2866.022727,435.543311,3300.000,0.996404,1.0,15.0,0.0
4,12,2,485,73.0,111.0,1255.0,1.0,412.0,3.0,0.0,...,0.0,jan,31,250.203390,51.145216,300.000,0.973632,1.0,15.0,0.0
5,12,2,804,49.0,26.0,1255.0,1.0,842.0,7.0,0.0,...,8.0,jan,31,227.115385,20.874165,240.000,0.617252,1.0,12.0,38.0
6,12,2,839,73.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,jan,31,3091.707317,344.029210,NaN,0.000000,1.0,15.0,0.0
7,12,2,1007,67.0,247.0,1255.0,1.0,3576.0,10.0,0.0,...,28.0,jan,31,441.207977,155.515705,599.000,1.014637,1.0,14.0,51.0
8,12,2,1406,28.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,jan,31,758.350758,235.080954,NaN,0.000000,1.0,8.0,33.0
9,12,2,1407,19.0,466.0,1255.0,13.0,14490.0,278.0,6.0,...,0.0,jan,31,734.125609,542.392120,1299.000,1.041450,1.0,5.0,12.0
10,12,2,1412,23.0,71.0,1255.0,1.0,9302.0,146.0,0.0,...,0.0,jan,31,1318.943662,182.454025,1499.000,0.986859,1.0,5.0,18.0
11,12,2,1413,19.0,35.0,1255.0,1.0,14490.0,278.0,0.0,...,0.0,jan,31,1487.671429,66.933785,1499.000,0.169250,1.0,5.0,12.0
12,12,2,1414,22.0,44.0,1255.0,1.0,1781.0,20.0,0.0,...,0.0,jan,31,1490.000000,59.699246,1499.000,0.150756,1.0,5.0,16.0
13,12,2,1415,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,jan,31,NaN,60.192602,NaN,0.000000,1.0,5.0,13.0
14,12,2,1416,23.0,59.0,1255.0,2.0,9302.0,146.0,0.0,...,0.0,jan,31,1491.389831,58.454821,1499.000,0.130189,1.0,5.0,18.0
15,12,2,1439,32.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,jan,31,776.119403,224.720677,NaN,0.000000,1.0,10.0,60.0
16,12,2,1441,32.0,0.0,0.0,0.0,0.0,0.0,140.0,...,0.0,jan,31,386.100386,114.120136,NaN,0.000000,1.0,10.0,60.0
17,12,2,1449,30.0,116.0,1255.0,2.0,17906.0,152.0,0.0,...,0.0,jan,31,531.978017,70.301908,599.000,0.953345,1.0,8.0,53.0
18,12,2,1460,23.0,58.0,1255.0,1.0,9302.0,146.0,0.0,...,0.0,jan,31,1111.875000,89.975061,1199.000,0.968324,1.0,5.0,18.0
19,12,2,1467,19.0,51.0,1255.0,3.0,14490.0,278.0,38.0,...,114.0,jan,31,913.392157,29.167878,899.000,-0.493425,1.0,5.0,12.0
20,12,2,1471,19.0,0.0,0.0,0.0,0.0,0.0,0.0,...,114.0,jan,31,1340.338889,60.600851,NaN,0.000000,1.0,5.0,12.0
21,12,2,1480,30.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,jan,31,NaN,60.192602,NaN,0.000000,1.0,8.0,53.0
22,12,2,1495,30.0,818.0,1255.0,20.0,17906.0,152.0,607.0,...,0.0,jan,31,331.335716,263.221011,599.000,1.016880,1.0,8.0,53.0
23,12,2,1502,29.0,129.0,1255.0,1.0,703.0,6.0,570.0,...,0.0,jan,31,2037.197080,526.449822,2599.000,1.067154,1.0,8.0,35.0
24,12,2,1511,28.0,701.0,1255.0,7.0,6985.0,38.0,745.0,...,0.0,jan,31,467.427579,326.112510,799.000,1.016742,1.0,8.0,33.0
25,12,2,1512,19.0,582.0,1255.0,9.0,14490.0,278.0,674.0,...,0.0,jan,31,1647.659249,940.222703,2599.000,1.011825,1.0,5.0,12.0
26,12,2,1514,20.0,324.0,1255.0,7.0,3876.0,90.0,0.0,...,0.0,jan,31,2249.286585,735.737845,2998.940,1.018914,1.0,5.0,13.0
27,12,2,1799,23.0,35.0,1255.0,1.0,9302.0,146.0,28.0,...,0.0,jan,31,1187.657143,112.968386,1299.000,0.985611,1.0,5.0,18.0
28,12,2,1809,30.0,208.0,1255.0,3.0,17906.0,152.0,467.0,...,0.0,jan,31,537.695913,69.732203,599.000,0.879136,1.0,8.0,53.0
29,12,2,1811,19.0,205.0,1255.0,4.0,14490.0,278.0,256.0,...,0.0,jan,31,1542.220000,362.037023,1609.075,0.184663,1.0,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6186892,32,59,14430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,141.000000,48.497423,NaN,0.000000,NaN,NaN,NaN
6186893,32,59,15971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,249.000000,0.000000,NaN,0.000000,NaN,NaN,NaN
6186894,32,59,16055,64.0,31.0,1116.0,1.0,1114.0,6.0,26.0,...,10.0,sep,30,483.064516,117.851903,599.000,0.983739,31.0,14.0,41.0
6186895,32,59,16084,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,449.000000,0.000000,NaN,0.000000,NaN,NaN,NaN
6186896,32,59,16179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,1985.580000,385.204319,NaN,0.000000,NaN,NaN,NaN
6186897,32,59,16243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,2499.000000,0.000000,NaN,0.000000,NaN,NaN,NaN
6186898,32,59,16540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,198.000000,0.000000,NaN,0.000000,NaN,NaN,NaN
6186899,32,59,18715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,239.000000,22.360680,NaN,0.000000,NaN,NaN,NaN
6186900,32,59,19501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,799.000000,60.192602,NaN,0.000000,NaN,NaN,NaN
6186901,32,59,19745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,299.000000,0.000000,NaN,0.000000,NaN,NaN,NaN
6186902,32,59,19789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,199.000000,60.192602,NaN,0.000000,NaN,NaN,NaN
6186903,32,59,19885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,299.000000,60.192602,NaN,0.000000,NaN,NaN,NaN
6186904,32,59,20070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,58.000000,60.192602,NaN,0.000000,NaN,NaN,NaN
6186905,32,59,6400,23.0,4.0,1116.0,1.0,3642.0,104.0,0.0,...,0.0,sep,30,999.000000,0.000000,999.000,0.000000,31.0,5.0,18.0
6186906,32,59,9150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN
6186907,32,59,9496,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,99.000000,0.000000,NaN,0.000000,31.0,11.0,6.0
6186908,32,59,9949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,198.310000,71.686485,NaN,0.000000,NaN,NaN,NaN
6186909,32,59,13379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN
6186910,32,59,13521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45.0,sep,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN
6186911,32,59,15443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN
6186912,32,59,16729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,79.000000,60.192602,NaN,0.000000,NaN,NaN,NaN
6186913,32,59,18024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,261.625000,39.955556,NaN,0.000000,NaN,NaN,NaN
6186914,32,59,20267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN
6186915,32,59,4608,58.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,31.0,13.0,28.0
6186916,32,59,4779,30.0,0.0,0.0,0.0,0.0,0.0,0.0,...,176.0,sep,30,NaN,60.192602,NaN,0.000000,31.0,8.0,53.0
6186917,32,59,10656,67.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,31.0,14.0,51.0
6186918,32,59,14899,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,349.000000,0.000000,NaN,0.000000,31.0,11.0,1.0
6186919,32,59,18577,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.0,sep,30,NaN,60.192602,NaN,0.000000,31.0,11.0,1.0
6186920,32,59,21459,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,31.0,11.0,1.0
6186921,32,59,22043,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,sep,30,NaN,60.192602,NaN,0.000000,31.0,11.0,1.0