In [1]:
import numpy as np
import pandas as pd
import pickle
import lightgbm as lgb
import sklearn as sk
from sklearn import ensemble

In [2]:
x_val_list = pickle.load(open('../gen_data/test_data_enriched--enrich1.ipynb--.pickle','rb'))
x_train_list = pickle.load(open('../gen_data/x_train--simple_validation_split.ipynb--.pickle','rb'))
y_train_list = pickle.load(open('../gen_data/y_train--simple_validation_split.ipynb--.pickle','rb'))
y_val_list = pickle.load(open('../gen_data/y_val--simple_validation_split.ipynb--.pickle','rb'))

In [3]:
#assign variables to full train - test split
x_train = x_train_list.pop()
y_train = y_train_list.pop()
x_val = x_val_list.pop()
y_val = y_val_list.pop()

#overwrite with train - validation split
#comment this if I wanna run on test
x_train = x_train_list[0]
y_train = y_train_list[0]
x_val = x_val_list[0]
y_val = y_val_list[0]

In [35]:
a = [1,2,3]
a.pop()

3

In [4]:
#consider combining this with submission, I already have full_train/test in the last part of the lists

In [5]:
x_train.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3

In [6]:
#model specific preprocessing
def model1_preproc(x,*args):
    x = x.fillna(999)
    if len(args):
        y = args[0]
        return([x.drop(['shop_name','item_name','item_category_name'],axis=1),y])
    else:
        return(x.drop(['shop_name','item_name','item_category_name'],axis=1))

In [24]:
xtp , ytp = model1_preproc(x_train,y_train) 
model = ensemble.RandomForestRegressor(verbose=10,n_jobs=4,n_estimators=100,random_state=0)
model.fit(xtp,ytp)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 1 of 100building tree 2 of 100building tree 3 of 100
building tree 4 of 100


building tree 5 of 100building tree 6 of 100

building tree 7 of 100
building tree 8 of 100

[Parallel(n_jobs=4)]: Done   5 tasks      | elapsed:    8.4s

building tree 9 of 100building tree 10 of 100

building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100

[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:   12.7s

building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100

[Parallel(n_jobs=4)]: Done  17 tasks      | elapsed:   21.7s

building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100

[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:   26.4s

building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:   40.0s

building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   49.0s

building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100

[Parallel(n_jobs=4)]: Done  53 tasks      | elapsed:  1.0min

building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100

[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:  1.2min

building tree 69 of 100building tree 70 of 100

building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100

[Parallel(n_jobs=4)]: Done  77 tasks      | elapsed:  1.5min

building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100

[Parallel(n_jobs=4)]: Done  90 tasks      | elapsed:  1.7min

building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:  1.8min finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=4,
           oob_score=False, random_state=0, verbose=10, warm_start=False)

In [25]:
xvp  = model1_preproc(x_val)

In [26]:
xvp.head()

   date_block_num  shop_id  item_id  item_category_id
0              33        5     5037              19.0
1              33        5     5320             999.0
2              33        5     5233              19.0
3              33        5     5232              23.0
4              33        5     5268             999.0

In [27]:
xtp.head()

   date_block_num  shop_id  item_id  item_category_id
0               0        0       32                40
1               0        0       33                37
2               0        0       35                40
3               0        0       43                40
4               0        0       51                57

In [28]:
preds = model.predict(xvp)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done   5 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done  17 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.4s
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done  53 tasks      | elapsed:    0.7s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:    0.8s
[Parallel(n_jobs=4)]: Done  77 tasks      | elapsed:    0.9s
[Parallel(n_jobs=4)]: Done  90 tasks      | elapsed:    1.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    1.1s finished

In [29]:
np.sqrt(np.mean((preds-y_val)**2))
#4.683318375274549

4.781080471055687