In [12]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import model_selection

In [120]:
train2 = pd.read_csv('../../gen_data/train2.csv')

In [121]:
train2.dtypes

date_block_num         int64
shop_id                int64
item_id                int64
item_category_id       int64
shop_name             object
item_name             object
item_category_name    object
sales                  int64
dtype: object

In [137]:
#im sure theres a better way of doing this
train2['date_block_num'] =   pd.Series(train2['date_block_num'],dtype=np.int32)
train2['shop_id'] =          pd.Series(train2['shop_id'],dtype=np.int32)
train2['item_id'] =          pd.Series(train2['item_id'],dtype=np.int32)
train2['item_category_id'] = pd.Series(train2['item_category_id'],dtype=np.int32)
train2['sales'] =            pd.Series(train2['sales'],dtype=np.int32)

train2['shop_name'] = pd.Series(train2['shop_name'],dtype='category')
train2['item_name'] = pd.Series(train2['item_name'],dtype='category')
train2['item_category_name'] = pd.Series(train2['item_category_name'],dtype='category')

train2.dtypes

date_block_num           int32
shop_id                  int32
item_id                  int32
item_category_id         int32
shop_name             category
item_name             category
item_category_name    category
sales                    int32
dtype: object

In [138]:
#need to split in to many train validation sets, keep it simple and space *inefficient*
x_train_list = []
x_val_list = []
y_train_list = []
y_val_list = []


for val_month in range(21,34):
    
    val =   train2[X_train['date_block_num']==val_month]
    train = train2[X_train['date_block_num']<val_month]
    
    y_train = train['sales']
    x_train = train.drop('sales',axis=1)
    y_val = val['sales']
    x_val = val.drop('sales',axis=1)
    
    
    
    x_val_list.append(x_val)
    x_train_list.append(x_train)
    y_val_list.append(y_val)
    y_train_list.append(y_train)

In [152]:
[x for x in range(21,34)]

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

In [140]:
val_counts = train2['date_block_num'].value_counts()
val_counts = val_counts.sort_index()
val_counts

0     63224
1     59935
2     63977
3     54638
4     53296
5     56196
6     58035
7     58022
8     51575
9     51090
10    51460
11    66276
12    53320
13    47704
14    49291
15    44740
16    45766
17    46481
18    45756
19    46439
20    40423
21    42595
22    45755
23    59275
24    46775
25    41390
26    40464
27    32875
28    32220
29    31909
30    33527
31    33486
32    29678
33    31531
Name: date_block_num, dtype: int64

In [141]:
np.cumsum(val_counts)

0       63224
1      123159
2      187136
3      241774
4      295070
5      351266
6      409301
7      467323
8      518898
9      569988
10     621448
11     687724
12     741044
13     788748
14     838039
15     882779
16     928545
17     975026
18    1020782
19    1067221
20    1107644
21    1150239
22    1195994
23    1255269
24    1302044
25    1343434
26    1383898
27    1416773
28    1448993
29    1480902
30    1514429
31    1547915
32    1577593
33    1609124
Name: date_block_num, dtype: int64

In [142]:
x_train_list[0].shape
#should be 1107644

(1107644, 7)

In [143]:
x_val_list[0].shape
#should be 42595

(42595, 7)

In [144]:
x_val_list[-1].shape
#should be 31531

(31531, 7)

In [145]:
y_val_list[-1].shape
#should be 31531

(31531,)

In [146]:
#mvl = list()
#mvl.append(x_train_list)
#mvl.append(y_train_list)
#mvl.append(x_val_list)
#mvl.append(y_val_list)

In [147]:
#master_validation_list = mvl

In [148]:
import pickle

In [149]:
f = open('../../gen_data/master_validation_list.pickle','wb')
pickle.dump([x_train_list,y_train_list,x_val_list,y_val_list],f)
f.close()