In [1]:
#the purpose of this script is to generate a df inspired by x_test/x_validation that can be used to predict
#on a model trained on x_train, by default the test data contains limited information, as can be seen below:

In [2]:
import pandas as pd
import numpy as np
import pickle

In [3]:
test_list = pickle.load(open('../gen_data/test--listify_test.ipynb--.pickle','rb'))

In [4]:
train2 = pd.read_csv('../gen_data/train2.csv')
train2.drop('item_cnt_month',axis=1,inplace=True)
train2.drop_duplicates(['shop_id','item_id'],inplace=True)
train2.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3

In [5]:
#need to find what value to insert for date_block_num for each value of test_rich (list)

#TODO   maybe dont hardcode this
#TODO   also, this is giving month as 33!
x_train_list = pickle.load(open('../gen_data/x_train--simple_validation_split.ipynb--.pickle','rb'))
val_month_list = []
for x_train in x_train_list:
    val_month = x_train['date_block_num'].max()+1
    val_month_list.append(val_month)

In [7]:
test_rich =[]
for test_df, val_month in zip(test_list,val_month_list):
    test_rich_df = test_df.merge(train2,how='left',on=['item_id','shop_id'])
    test_rich_df.drop(['date_block_num','ID'],axis=1,inplace=True)
    test_rich_df.insert(0,'date_block_num',val_month)
    test_rich.append(test_rich_df)

In [8]:
test_rich[0].shape

(214200, 7)

In [9]:
test_rich[0].head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name
0,33,5,5037,19.0,"Вологда ТРЦ ""Мармелад""","NHL 15 [PS3, русские субтитры]",Игры - PS3
1,33,5,5320,NaN,NaN,NaN,NaN
2,33,5,5233,19.0,"Вологда ТРЦ ""Мармелад""","Need for Speed Rivals (Essentials) [PS3, русск...",Игры - PS3
3,33,5,5232,23.0,"Вологда ТРЦ ""Мармелад""","Need for Speed Rivals (Classics) [Xbox 360, ру...",Игры - XBOX 360
4,33,5,5268,NaN,NaN,NaN,NaN

In [20]:
#read in sales_train to get merge with test, to get shop_name etc.
#train_original = pd.read_csv('../original_data/sales_train.csv.gz')
#train_original.drop(['date','date_block_num','item_price'],axis=1,inplace=True)
#train_original.drop_duplicates(['shop_id','item_id'],inplace=True)
#train_original.head()