In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
x_train_list = pickle.load(open('../gen_data/x_train--strings.ipynb--.pickle','rb'))
x_test_list= pickle.load(open('../gen_data/x_test--strings.ipynb--.pickle','rb'))
y_train_list = pickle.load(open('../gen_data/y_train--features1.ipynb--.pickle','rb'))
y_test_list = pickle.load(open('../gen_data/y_val--simple_validation_split.ipynb--.pickle','rb'))

In [3]:
x_train_list[0].shape

(6186922, 73)

In [19]:
#df = x_train_list[0].sample(100000,random_state=0)
df = x_train_list[0]

In [20]:
#df['item_cnt_month'] = y_train_list[0].sample(100000,random_state=0)
df['item_cnt_month'] = y_train_list[0]

In [21]:
#categorical columns are item_id, shop_id, item_category_id, month, city, item_type, item_info

In [22]:
[x for i , x in enumerate(df.columns) if i in ([1,2,3,64,70,71,72])]

['shop_id',
 'item_id',
 'item_category_id',
 'month',
 'city',
 'item_type',
 'item_info']

In [23]:
#dont use validation month for target encodings, this would require regularisation
def target_encode(df,target,cols):
    df['target'] = target
    for col in cols:
        print('Encoding variable: '+col)
        agged_targ = df.groupby(col).target.sum()
        df[col] = df[col].map(agged_targ)
    return df.drop('target',axis=1)

In [24]:
df = target_encode(df,y_train_list[0],['shop_id','item_id','item_category_id','month','city','item_type','item_info'])

Encoding variable: shop_id
Encoding variable: item_id
Encoding variable: item_category_id
Encoding variable: month
Encoding variable: city
Encoding variable: item_type
Encoding variable: item_info

In [32]:
df

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,city,item_type,item_info,item_cnt_month
0,12,18554.0,697.0,289315.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,134.691573,15.602202,NaN,0.000000,18554.0,446281.0,289315.0,1.0
1,12,18554.0,2412.0,112252.0,42.0,1255.0,1.0,9906.0,55.0,15.0,...,205580.0,31,186.571429,16.449056,199.000,0.755580,18554.0,446281.0,112252.0,1.0
2,12,18554.0,1917.0,112252.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,124.167083,25.367019,NaN,0.000000,18554.0,446281.0,112252.0,1.0
3,12,18554.0,1425.0,7315.0,88.0,1255.0,1.0,412.0,3.0,85.0,...,205580.0,31,2866.022727,435.543311,3300.000,0.996404,18554.0,35118.0,7315.0,2.0
4,12,18554.0,1027.0,7315.0,111.0,1255.0,1.0,412.0,3.0,0.0,...,205580.0,31,250.203390,51.145216,300.000,0.973632,18554.0,35118.0,7315.0,1.0
5,12,18554.0,2376.0,15592.0,26.0,1255.0,1.0,842.0,7.0,0.0,...,205580.0,31,227.115385,20.874165,240.000,0.617252,18554.0,41348.0,15592.0,1.0
6,12,18554.0,602.0,7315.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,3091.707317,344.029210,NaN,0.000000,18554.0,35118.0,7315.0,1.0
7,12,18554.0,1014.0,22509.0,247.0,1255.0,1.0,3576.0,10.0,0.0,...,205580.0,31,441.207977,155.515705,599.000,1.014637,18554.0,260864.0,22509.0,1.0
8,12,18554.0,979.0,79143.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,758.350758,235.080954,NaN,0.000000,18554.0,307099.0,79143.0,1.0
9,12,18554.0,2061.0,116101.0,466.0,1255.0,13.0,14490.0,278.0,6.0,...,205580.0,31,734.125609,542.392120,1299.000,1.041450,18554.0,355597.0,126734.0,0.0
10,12,18554.0,2090.0,96417.0,71.0,1255.0,1.0,9302.0,146.0,0.0,...,205580.0,31,1318.943662,182.454025,1499.000,0.986859,18554.0,355597.0,110870.0,1.0
11,12,18554.0,2599.0,116101.0,35.0,1255.0,1.0,14490.0,278.0,0.0,...,205580.0,31,1487.671429,66.933785,1499.000,0.169250,18554.0,355597.0,126734.0,2.0
12,12,18554.0,2430.0,13111.0,44.0,1255.0,1.0,1781.0,20.0,0.0,...,205580.0,31,1490.000000,59.699246,1499.000,0.150756,18554.0,355597.0,17694.0,1.0
13,12,18554.0,3168.0,93359.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,NaN,60.192602,NaN,0.000000,18554.0,355597.0,123367.0,1.0
14,12,18554.0,2898.0,96417.0,59.0,1255.0,2.0,9302.0,146.0,0.0,...,205580.0,31,1491.389831,58.454821,1499.000,0.130189,18554.0,355597.0,110870.0,2.0
15,12,18554.0,792.0,4351.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,776.119403,224.720677,NaN,0.000000,18554.0,4351.0,25001.0,1.0
16,12,18554.0,2452.0,4351.0,0.0,0.0,0.0,0.0,0.0,140.0,...,205580.0,31,386.100386,114.120136,NaN,0.000000,18554.0,4351.0,25001.0,1.0
17,12,18554.0,855.0,200170.0,116.0,1255.0,2.0,17906.0,152.0,0.0,...,205580.0,31,531.978017,70.301908,599.000,0.953345,18554.0,307099.0,200170.0,1.0
18,12,18554.0,2184.0,96417.0,58.0,1255.0,1.0,9302.0,146.0,0.0,...,205580.0,31,1111.875000,89.975061,1199.000,0.968324,18554.0,355597.0,110870.0,1.0
19,12,18554.0,663.0,116101.0,51.0,1255.0,3.0,14490.0,278.0,38.0,...,205580.0,31,913.392157,29.167878,899.000,-0.493425,18554.0,355597.0,126734.0,1.0
20,12,18554.0,1610.0,116101.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,1340.338889,60.600851,NaN,0.000000,18554.0,355597.0,126734.0,2.0
21,12,18554.0,3315.0,200170.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205580.0,31,NaN,60.192602,NaN,0.000000,18554.0,307099.0,200170.0,7.0
22,12,18554.0,2647.0,200170.0,818.0,1255.0,20.0,17906.0,152.0,607.0,...,205580.0,31,331.335716,263.221011,599.000,1.016880,18554.0,307099.0,200170.0,9.0
23,12,18554.0,3100.0,9100.0,129.0,1255.0,1.0,703.0,6.0,570.0,...,205580.0,31,2037.197080,526.449822,2599.000,1.067154,18554.0,307099.0,9100.0,1.0
24,12,18554.0,741.0,79143.0,701.0,1255.0,7.0,6985.0,38.0,745.0,...,205580.0,31,467.427579,326.112510,799.000,1.016742,18554.0,307099.0,79143.0,1.0
25,12,18554.0,2192.0,116101.0,582.0,1255.0,9.0,14490.0,278.0,674.0,...,205580.0,31,1647.659249,940.222703,2599.000,1.011825,18554.0,355597.0,126734.0,3.0
26,12,18554.0,2772.0,93359.0,324.0,1255.0,7.0,3876.0,90.0,0.0,...,205580.0,31,2249.286585,735.737845,2998.940,1.018914,18554.0,355597.0,123367.0,1.0
27,12,18554.0,2697.0,96417.0,35.0,1255.0,1.0,9302.0,146.0,28.0,...,205580.0,31,1187.657143,112.968386,1299.000,0.985611,18554.0,355597.0,110870.0,2.0
28,12,18554.0,937.0,200170.0,208.0,1255.0,3.0,17906.0,152.0,467.0,...,205580.0,31,537.695913,69.732203,599.000,0.879136,18554.0,307099.0,200170.0,1.0
29,12,18554.0,2168.0,116101.0,205.0,1255.0,4.0,14490.0,278.0,256.0,...,205580.0,31,1542.220000,362.037023,1609.075,0.184663,18554.0,355597.0,126734.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6186892,32,24392.0,1014.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,141.000000,48.497423,NaN,0.000000,NaN,NaN,NaN,0.0
6186893,32,24392.0,2449.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,249.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0
6186894,32,24392.0,1195.0,26687.0,31.0,1116.0,1.0,1114.0,6.0,26.0,...,140333.0,30,483.064516,117.851903,599.000,0.983739,24392.0,260864.0,26687.0,1.0
6186895,32,24392.0,872.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,449.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0
6186896,32,24392.0,3055.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,1985.580000,385.204319,NaN,0.000000,NaN,NaN,NaN,0.0
6186897,32,24392.0,2650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,2499.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0
6186898,32,24392.0,3724.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,198.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0
6186899,32,24392.0,2772.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,239.000000,22.360680,NaN,0.000000,NaN,NaN,NaN,0.0
6186900,32,24392.0,3075.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,799.000000,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186901,32,24392.0,2641.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,299.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0
6186902,32,24392.0,2835.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,199.000000,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186903,32,24392.0,2202.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,299.000000,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186904,32,24392.0,2464.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,58.000000,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186905,32,24392.0,2325.0,96417.0,4.0,1116.0,1.0,3642.0,104.0,0.0,...,140333.0,30,999.000000,0.000000,999.000,0.000000,24392.0,355597.0,110870.0,1.0
6186906,32,24392.0,2650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186907,32,24392.0,2376.0,289315.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,99.000000,0.000000,NaN,0.000000,24392.0,446281.0,289315.0,1.0
6186908,32,24392.0,3220.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,198.310000,71.686485,NaN,0.000000,NaN,NaN,NaN,0.0
6186909,32,24392.0,2695.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186910,32,24392.0,1554.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186911,32,24392.0,3264.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186912,32,24392.0,1713.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,79.000000,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186913,32,24392.0,2560.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,261.625000,39.955556,NaN,0.000000,NaN,NaN,NaN,0.0
6186914,32,24392.0,2230.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0
6186915,32,24392.0,3220.0,8795.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,24392.0,218287.0,8795.0,1.0
6186916,32,24392.0,1436.0,200170.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,24392.0,307099.0,200170.0,1.0
6186917,32,24392.0,2226.0,22509.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,24392.0,260864.0,22509.0,1.0
6186918,32,24392.0,2898.0,112252.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,349.000000,0.000000,NaN,0.000000,24392.0,446281.0,112252.0,1.0
6186919,32,24392.0,2438.0,112252.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,24392.0,446281.0,112252.0,1.0
6186920,32,24392.0,2415.0,112252.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,24392.0,446281.0,112252.0,1.0
6186921,32,24392.0,2736.0,112252.0,0.0,0.0,0.0,0.0,0.0,0.0,...,140333.0,30,NaN,60.192602,NaN,0.000000,24392.0,446281.0,112252.0,1.0

In [77]:
#item_sales = df.groupby('item_id').item_cnt_month.sum()
#df['item_id'] = df.item_id.map(item_sales)

item_id
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
8     0.0
9     0.0
10    0.0
11    0.0
Name: item_cnt_month, dtype: float32

In [91]:
df[(df.item_id==20402)]

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,city,item_type,item_info,item_cnt_month,newcol
5372599,29,21,20402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30,4349.000000,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0,14.0
4089959,24,33,20402,0.0,47.0,994.0,1.0,3970.0,27.0,0.0,...,31,4225.595745,408.982176,4349.0,0.301735,NaN,NaN,NaN,0.0,14.0
4776082,26,54,20402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31,4349.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0,14.0
2921659,20,53,20402,72.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30,NaN,60.192602,NaN,0.000000,26.0,14.0,57.0,1.0,14.0
3160547,21,39,20402,0.0,173.0,633.0,3.0,1796.0,21.0,0.0,...,31,1304.209302,1595.254280,2899.0,0.999709,NaN,NaN,NaN,0.0,14.0
3893944,23,53,20402,72.0,0.0,0.0,0.0,0.0,0.0,67.0,...,31,3380.733333,230.319798,NaN,0.000000,26.0,14.0,57.0,2.0,14.0
2854878,20,42,20402,72.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30,NaN,60.192602,NaN,0.000000,20.0,14.0,57.0,11.0,14.0
5188742,28,34,20402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0,14.0
3541657,22,49,20402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30,2500.816418,534.477735,NaN,0.000000,NaN,NaN,NaN,0.0,14.0
4291862,25,12,20402,0.0,0.0,0.0,0.0,0.0,0.0,47.0,...,28,4349.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0,14.0
4491611,25,53,20402,0.0,0.0,0.0,0.0,0.0,0.0,47.0,...,28,4349.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.0,14.0
2933801,20,55,20402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30,NaN,60.192602,NaN,0.000000,NaN,NaN,NaN,0.0,14.0

In [81]:
d = pd.DataFrame({'A':[1,5,1,5],'B':[86,65,67,78]})
d

   A   B
0  1  86
1  5  65
2  1  67
3  5  78

In [84]:
group = d.groupby('A').B.sum()
group

A
1    153
5    143
Name: B, dtype: int64

In [87]:
d['new']= d.A.map(group)

In [88]:
d

   A   B  new
0  1  86  153
1  5  65  143
2  1  67  153
3  5  78  143